* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;
}

body {
    min-height: 100%;

}


/*----------------- Menu de navegacion -----------*/

header {
    width: 100%;
    height: 100px;
    display: flex;
    color: beige;
    background-image: url(../imagenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0;
    left: 0;
}

.tituL {
    font-size: 55px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left: 40rem;

}



.deco {
    text-decoration: none;
    color: beige;
    font-size: 18PX;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    align-items: center;

    h1 {
        font-size: 75px;
        color: beige;
        margin-left: 35%;

    }
}



.hambur {
    font-size: 25px;
    color: beige;
    margin-right: 20px;
    cursor: pointer;
}




.nav-pag {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5;

    li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
    }

    a {
        color: beige;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }

    a:hover {
        color: red;
        transition: .3s;

    }
}


#check {
    display: none;
}

#check:checked~.nav-pag {
    height: 100vh;
}

#check:checked~.nav-pag li {
    display: block;
}

@media only screen and (min-width: 320px) {
    .nav {
        h1 {
            font-size: 35px;
            margin-left: 70px;
        }
    }
}

@media only screen and (min-width: 375px) {
    .nav {
        h1 {

            margin-left: 100px;
        }
    }
}

@media only screen and (min-width: 425px) {
    .nav {
        h1 {
            font-size: 40px;
            margin-left: 120px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        h1 {
            font-size: 50px;
            margin-left: 260px;
        }
    }

}

@media only screen and (min-width: 1024px) {

    header {
        height: 150px;
    }

    .nav {
        height: 100px;

        h1 {
            position: absolute;
            font-size: 55px;
            left: 100px;

        }
    }


    .hambur {
        display: none;
    }

    .nav-pag {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 15px;
        text-align: center;
        margin-left: 100px;

        li {
            display: inline-block;
            line-height: 220px;
            margin: 0 12px;
            transition: none;
        }

        a {
            font-size: 16px;
        }
    }


}

@media only screen and (min-width: 1200px) {

    .nav {
        h1 {
            position: absolute;
            font-size: 55px;
            left: 20%;
        }
    }
}

.nav-pag {
    margin-right: 150px;
}

@media only screen and (min-width: 1440px) {

    .nav {
        h1 {
            position: absolute;
            font-size: 55px;
            left: 25%;
        }
    }
}

.nav-pag {
    margin-right: 150px;
}

@media only screen and (min-width: 2560px) {

    .nav {
        h1 {
            position: absolute;
            font-size: 75px;
            left: 30%;

        }
    }


    .nav-pag {
        margin-right: 150px;

        li {

            margin: 0 20px;

            a {
                font-size: 25px;

            }
        }

    }

}

/*----------------- termina en menu de navegacion -----------*/







/*-----------------------------------------------------------------Empieza el index----------------------------------------*/



.contenedor {

    width: 100%;
    display: grid;
    text-align: center;
    background-image: url(../imagenes/Boruto-fondo.jpg);
    background-position: center;
    background-size: cover;
    font-size: 35px;




}

.bienv {
    grid-area: titu;
    text-align: center;
    font-size: 65px;
    color: rgb(201, 126, 35);
    padding-top: 175px;
    transition: 1s;


}



.img1 {
    grid-area: img1;
    color: beige;
    font-size: 35px;

    p {
        margin-left: 25%;
        background-color: rgb(27, 2, 2);
        width: 50%;
        border-radius: 15px;
        border: 2px solid rgb(201, 126, 35);
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(201, 126, 35);
        transition: 1s;

    }

    a:hover {

        color: rgb(214, 209, 209);
        transition: .8s;


    }

    img {
        width: 380px;
        height: 300px;
        border-radius: 55px;
        border: 2.8px solid rgb(201, 126, 35);
        transition: 1s;
        margin-left: 15px;

    }

    img:hover {
        transform: scale(1.05);
        transition: 1s;
    }

}


.img2 {
    grid-area: img2;
    color: beige;
    font-size: 35px;

    p {
        margin-left: 25%;
        background-color: rgb(27, 2, 2);
        width: 50%;
        border-radius: 15px;
        border: 2px solid rgb(201, 126, 35);
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(201, 126, 35);
        transition: 1s;

    }

    a:hover {

        color: rgb(214, 209, 209);
        transition: .8s;


    }

    img {
        width: 380px;
        height: 300px;
        border-radius: 55px;
        border: 2.8px solid rgb(201, 126, 35);
        transition: 1s;
    }

    img:hover {
        transform: scale(1.05);
        transition: 1s;
    }
}




.img3 {
    grid-area: img3;
    color: beige;
    font-size: 35px;

    p {
        margin-left: 25%;
        background-color: rgb(27, 2, 2);
        width: 50%;
        border-radius: 15px;
        border: 2px solid rgb(201, 126, 35);
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(201, 126, 35);
        transition: 1s;
    }

    a:hover {

        color: rgb(214, 209, 209);
        transition: .8s;


    }

    img {
        width: 380px;
        height: 300px;
        border-radius: 55px;
        border: 2.8px solid rgb(201, 126, 35);
        transition: 1s;
    }

    img:hover {
        transform: scale(1.05);
        transition: 1s;
    }
}


.img4 {
    grid-area: img4;
    color: beige;
    font-size: 35px;

    p {
        margin-left: 25%;
        background-color: rgb(27, 2, 2);
        width: 50%;
        border-radius: 15px;
        border: 2px solid rgb(201, 126, 35);
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(201, 126, 35);
        transition: 1s;

    }

    a:hover {

        color: rgb(214, 209, 209);
        transition: .8s;


    }

    img {
        width: 380px;
        height: 300px;
        border-radius: 55px;
        border: 2.8px solid rgb(201, 126, 35);
        transition: 1s;
    }

    img:hover {
        transform: scale(1.05);
        transition: 1s;
    }
}



.video1 {
    grid-area: video1;
    padding-bottom: 10px;

    iframe {
        width: 750px;
        height: 500px;
        padding-top: 15px;
    }
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr 1fr 1fr 1fr;
    grid-gap: 25px;

}

@media only screen and (min-width: 320px) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;

    }

    .bienv {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 20px;
        padding-top: 90px;

    }


    .img1 {
        grid-column: 1/2;
        grid-row: 2/2;

        img {
            width: 200px;
            height: 150px;

        }
    }

    .img2 {
        grid-column: 1/2;
        grid-row: 3/3;

        img {
            width: 200px;
            height: 150px;
        }
    }

    .img3 {
        grid-column: 1/2;
        grid-row: 4/4;

        img {
            width: 200px;
            height: 150px;
        }
    }

    .img4 {
        grid-column: 1/1;
        grid-row: 5/5;

        img {
            width: 200px;
            height: 150px;
        }
    }


    .video1 {
        grid-column: 1/2;
        grid-row: 6/6;

        iframe {
            width: 280px;
            height: 150px;
        }
    }


}

@media only screen and (min-width: 768px) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        width: 80%;
        margin-left: 100px;

    }

    .bienv {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 45px;
        padding-top: 90px;

    }


    .img1 {
        grid-column: 1/2;
        grid-row: 2/2;

        img {
            width: 300px;
            height: 250px;

        }
    }

    .img2 {
        grid-column: 1/2;
        grid-row: 3/3;

        img {
            width: 300px;
            height: 250px;

        }
    }

    .img3 {
        grid-column: 1/2;
        grid-row: 4/4;

        img {
            width: 300px;
            height: 250px;

        }
    }

    .img4 {
        grid-column: 1/1;
        grid-row: 5/5;

        img {
            width: 300px;
            height: 250px;

        }
    }

    .video1 {
        grid-column: 1/2;
        grid-row: 6/6;

        iframe {
            width: 500px;
            height: 250px;

        }

    }


}

@media only screen and (min-width: 1024px) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 55px;
        width: 80%;
        margin-left: 120px;

    }

    .bienv {
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 55px;
        padding-top: 130px;

    }


    .img1 {
        grid-column: 1/2;
        grid-row: 2/3;

        img {
            width: 350px;
            height: 300px;

        }
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 2/3;

        img {
            width: 350px;
            height: 300px;

        }
    }

    .img3 {
        grid-column: 1/2;
        grid-row: 3/4;

        img {
            width: 350px;
            height: 300px;

        }
    }


    .img4 {
        grid-column: 2/3;
        grid-row: 3/4;

        img {
            width: 350px;
            height: 300px;

        }
    }

    .video1 {
        grid-column: 1/3;
        grid-row: 4/5;

        iframe {
            width: 500px;
            height: 250px;

        }
    }

}

@media only screen and (min-width: 1440px) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 25px;
        width: 80%;


    }

    .bienv {
        grid-column: 1/6;
        grid-row: 1/2;
        font-size: 45px;
        padding-top: 100px;

    }


    .img1 {
        grid-column: 1/2;
        grid-row: 2/3;

        img {
            width: 300px;
            height: 220px;

        }
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 2/3;

        img {
            width: 300px;
            height: 220px;

        }
    }

    .img3 {
        grid-column: 3/4;
        grid-row: 2/3;

        img {
            width: 300px;
            height: 220px;

        }
    }

    .img4 {
        grid-column: 4/5;
        grid-row: 2/3;

        img {
            width: 300px;
            height: 220px;

        }
    }

    .video1 {
        grid-column: 1/5;
        grid-row: 4/5;

        iframe {
            width: 500px;
            height: 250px;

        }
    }
}

@media only screen and (min-width: 2550px) {

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 25px;
        width: 90%;


    }

    .bienv {
        grid-column: 1/6;
        grid-row: 1/2;
        font-size: 55px;
        padding-top: 130px;

    }


    .img1 {
        grid-column: 1/2;
        grid-row: 2/3;

        img {
            width: 500px;
            height: 350px;

        }
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 2/3;

        img {
            width: 500px;
            height: 350px;

        }
    }

    .img3 {
        grid-column: 3/4;
        grid-row: 2/3;

        img {
            width: 500px;
            height: 350px;

        }
    }



    .img4 {
        grid-column: 4/5;
        grid-row: 2/3;

        img {
            width: 500px;
            height: 350px;

        }
    }



    .video1 {
        grid-column: 1/5;
        grid-row: 4/5;

        iframe {
            width: 900px;
            height: 450px;

        }
    }



}

/*---------------ETermina el index------------------------------------------------------------*/

/*--------------------------------------------------- Empieza el footer----------------------------------*/

footer {

    width: 100%;
    height: 60px;
    background-color: rgb(30, 29, 31);
    position: absolute;
    justify-content: space-between;


}

.copy {

    justify-content: space-between;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 30%;
    font-size: 25px;

    p {
        color: beige;
        margin-bottom: 0;
    }
}


.redes {

    justify-content: space-between;
    left: 80%;
    width: 50px;
    display: flex;
    text-align: center;
    position: absolute;
    top: 10%;
    font-size: 30px;

    p {
        color: beige;
        margin-bottom: 0;
    }
}


.iconos3 {
    justify-content: space-between;
    width: 150px;
    display: flex;
    text-align: center;
    position: absolute;
    left: 86%;
    top: 20%;
    font-size: 25px;

    a {
        color: beige;
        padding-left: 5px;
        padding-right: 5px;

    }

    a:hover {
        color: coral;
        transition: 500ms;
    }
}





@media only screen and (min-width: 320px) {

    footer {
        height: 30px;

    }

    .copy {
        position: relative;
        top: 8px;
        left: 10px;

        p {
            font-size: 12px;
            width: max-content;
        }
    }


    .redes {
        position: absolute;
        top: 9px;
        left: 58%;
        font-size: 12px;

    }


    .iconos3 {

        width: 0px;
        position: absolute;
        left: 70%;
        top: 30%;
        font-size: 12px;

        a {
            color: beige;
        }
    }




}

@media only screen and (min-width: 375px) {
    .redes {
        position: absolute;
        top: 8px;
        left: 64%;
        font-size: 12px;

    }


    .iconos3 {

        position: absolute;
        left: 74%;
        top: 8px;
        font-size: 12px;
    }

}

@media only screen and (min-width: 425px) {
    .redes {
        position: absolute;
        top: 8px;
        left: 68%;
        font-size: 12px;

    }


    .iconos3 {

        position: absolute;
        left: 77%;
        top: 8px;
        font-size: 12px;
    }

}

@media only screen and (min-width: 768px) {

    footer {
        height: 50px;

    }

    .copy {
        position: relative;
        top: 16px;
        left: 10px;

        p {
            font-size: 18px;
            width: max-content;
        }
    }

    .redes {
        position: absolute;
        top: 16px;
        left: 77%;
        font-size: 18px;

    }


    .iconos3 {

        position: absolute;
        left: 84%;
        top: 16px;
        font-size: 18px;
    }


}



@media only screen and (min-width: 1024px) {

    footer {
        height: 50px;

    }


    .redes {
        position: absolute;
        left: 80%;

    }

    .iconos3 {
        position: absolute;
        left: 87%;
    }


}

@media only screen and (min-width: 1440px) {

    footer {
        height: 60px;

    }

    .copy {
        position: relative;
        top: 16px;
        left: 10px;

        p {
            font-size: 20px;
            width: max-content;
            margin-bottom: 0;
        }

    }


    .redes {
        position: absolute;
        top: 16px;
        left: 86%;
        font-size: 20px;

    }


    .iconos3 {

        position: absolute;
        left: 90%;
        top: 16px;
        font-size: 20px;
    }

}


@media only screen and (min-width: 2560px) {

    footer {
        height: 80px;

    }

    .copy {
        position: relative;
        top: 22px;
        left: 10px;

        p {
            color: beige;
            font-size: 24px;
            width: max-content;
        }
    }

    .redes {
        position: absolute;
        top: 22px;
        left: 91%;
        font-size: 24px;

        p {
            color: beige;
        }
    }



    .iconos3 {

        position: absolute;
        left: 94%;
        top: 22px;
        font-size: 24px;
    }


}





/*---------------------------- termina el footer---------------------------------------------------------*/


/*-------------------------------Empieza Tienda----------------------------------------*/


.grid-tienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    grid-gap: 35px;
    align-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 60px;


}

.prueba {
    display: grid;
    margin: auto;
    width: 100%;
    background-image: url(../imagenes/FondoTienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subTitulo {

    width: max-content;
    font-size: 60px;
    position: absolute;
    left: 0%;
    color: rgb(196, 196, 199);
    top: 150px;

    border-radius: 12px;
    border: solid;
    border-color: rgb(190, 0, 0);

}

.boton{
    background-color: #12295e;
    color: #ffffff;
    width: 150px;
    height: 30px;
    border-radius: 150px;
    margin-top: 20px;
    
}




$tienda: (1: rgb(83, 83, 135),
    2: rgb(165, 81, 81),
    3: rgb(124, 124, 55),
    4: rgb(210, 151, 41),
    5: rgb(86, 188, 78),
    6: rgb(83, 83, 135),
    7:rgb(165, 81, 81),
    8:rgb(124, 124, 55),
    9:rgb(210, 151, 41),
    10:rgb(86, 188, 78),
    11:rgb(83, 83, 135),
    12:rgb(165, 81, 81),

);

@each $tien,
$bc in $tienda {
    .tienda--#{$tien} {
        background-color: $bc;
        width: 300px;
        padding-left: 15px;
        height: 550px;
        text-align: center;
        border-radius: 15px;
        border-color: rgb(7, 2, 26);
        border-style: solid;
        font-size: 18px;
        grid-column: 1/2;
        grid-row: 1/2;

        img {
            width: 100%;
            padding-right: 15px;
            height: 50%;
        }


    }

}

.tienda--1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.tienda--2 {
    grid-column: 2/2;
    grid-row: 1/2;
}

.tienda--3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.tienda--4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.tienda--5 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.tienda--6 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.tienda--7 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.tienda--8 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.tienda--9 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.tienda--10 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.tienda--11 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.tienda--12 {
    grid-column: 4/5;
    grid-row: 3/4;
}

@media only screen and (min-width: 320px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 0;
        grid-column: 1/2;
        padding: 0;
        grid-gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;



    }


    .subTitulo {
        font-size: 24px;
        position: absolute;
        left: 70px;
        top: 110px;



    }

    .tienda--1 {


        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            width: 100%;
            height: 60%;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--2 {


        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {

            height: 250px;

        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--3 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            height: 250px;

        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }

    }


    .tienda--4 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {

            height: 250px;

        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;
        }

    }



    .tienda--5 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {

            height: 250px;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--6 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            height: 250px;

        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--7 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            height: 250px;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--8 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {

            height: 250px;

        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }



    .tienda--9 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {

            height: 250px;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--10 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            height: 250px;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--11 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;
        margin-right: 70px;

        img {
            height: 250px;
        }

        p {
            font-size: 12px;
        }

        .titulo {
            font-size: 18px;

        }
    }


    .tienda--12 {

        width: 220px;
        height: 450px;
        font-size: 18px;
        grid-column: 1/2;

        margin-right: 70px;

        img {

            height: 250px;

        }

        p {

            font-size: 12px;

        }

        .titulo {
            font-size: 18px;

        }

    }



}

@media only screen and (min-width: 375px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 0;
        grid-column: 1/2;
        padding: 0;
        grid-gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }


    .subTitulo {
        font-size: 32px;
        margin-top: 0px;


    }

    .tienda--1 {


        width: 250px;
        margin-right: 0px;

    }


    .tienda--2 {


        width: 250px;
        margin-right: 0px;
    }


    .tienda--3 {

        width: 250px;
        margin-right: 0px;
    }

    .tienda--4 {

        width: 250px;
        margin-right: 0px;

    }

    .tienda--5 {

        width: 250px;
        margin-right: 0px;

    }

    .tienda--6 {

        width: 250px;
        margin-right: 0px;
    }

    .tienda--7 {

        width: 250px;
        margin-right: 0px;
    }

    .tienda--8 {

        width: 250px;
        margin-right: 0px;

    }


    .tienda--9 {

        width: 250px;
        margin-right: 0px;


    }





    .tienda--10 {

        width: 250px;
        margin-right: 0px;
    }




    .tienda--11 {

        width: 250px;
        margin-right: 0px;
    }



    .tienda--12 {

        width: 250px;
        margin-right: 0px;
    }



}


@media only screen and (min-width: 425px) {



    .subTitulo {
        font-size: 34px;
        margin-left: 5px;



    }

    .tienda--1 {
        margin-left: 20px;

    }


    .tienda--2 {


        margin-left: 20px;

    }

    .tienda--3 {

        margin-left: 20px;
    }


    .tienda--4 {

        margin-left: 20px;

    }

    .tienda--5 {

        margin-left: 20px;

    }


    .tienda--6 {

        margin-left: 20px;
    }


    .tienda--7 {

        margin-left: 20px;
    }

    .tienda--8 {

        margin-left: 20px;

    }



    .tienda--9 {

        margin-left: 20px;

    }


    .tienda--10 {

        margin-left: 20px;
    }




    .tienda--11 {

        margin-left: 20px;
    }



    .tienda--12 {

        margin-left: 20px;



    }

}

@media only screen and (min-width: 768px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 80%;
        grid-gap: 10px;
        margin-left: 120px;



    }


    .subTitulo {


        font-size: 35px;
        margin-left: 180px;
        top: 105px;

    }

    .tienda--1 {

        grid-column: 1/2;


    }



    .tienda--2 {
        grid-column: 2/3;

        img {
            width: 100%;
            padding-right: 15px;
        }

        p {
            font-size: 12px;
        }
    }

    .tienda--3 {

        grid-column: 1/2;
        grid-row: 2/3;
    }

    .tienda--4 {

        grid-column: 2/3;
        grid-row: 2/3;

    }

    .tienda--5 {

        grid-column: 1/2;
        grid-row: 3/4;

    }



    .tienda--6 {

        grid-column: 2/3;
        grid-row: 3/4;
    }




    .tienda--7 {


        grid-column: 1/2;
        grid-row: 4/5;
    }


    .tienda--8 {


        grid-column: 2/3;
        grid-row: 4/5;
    }


    .tienda--9 {


        grid-column: 1/2;
        grid-row: 5/6;

    }




    .tienda--10 {


        grid-column: 2/3;
        grid-row: 5/6;
    }



    .tienda--11 {


        grid-column: 1/2;
        grid-row: 6/7;
    }

    .tienda--12 {

        grid-column: 2/3;
        grid-row: 6/7;
    }

}

@media only screen and (min-width: 1024px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 18px;




    }


    .subTitulo {

        margin-left: 300px;
        margin-top: 100px;

    }

    .tienda--1 {


        grid-column: 1/2;
        grid-row: 1/2;


    }



    .tienda--2 {

        grid-column: 2/3;
        grid-row: 1/2;
    }




    .tienda--3 {


        grid-column: 3/4;
        grid-row: 1/2;
    }


    .tienda--4 {

        grid-column: 1/2;
        grid-row: 2/3;

    }



    .tienda--5 {

        grid-column: 2/3;
        grid-row: 2/3;

    }




    .tienda--6 {

        grid-column: 3/4;
        grid-row: 2/3;
    }




    .tienda--7 {


        grid-column: 1/2;
        grid-row: 3/4;
    }


    .tienda--8 {
        grid-column: 2/3;
        grid-row: 3/4;
    }


    .tienda--9 {

        grid-column: 3/4;
        grid-row: 3/4;

    }




    .tienda--10 {

        grid-column: 1/2;
        grid-row: 4/5;
    }




    .tienda--11 {

        grid-column: 2/3;
        grid-row: 4/5;
    }


    .tienda--12 {


        grid-column: 3/4;
        grid-row: 4/5;
    }

}

@media only screen and (min-width: 1440px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 18px;




    }


    .subTitulo {
        font-size: 55px;
        margin-left: 450px;

    }

    .tienda--1 {


        grid-column: 1/2;
        grid-row: 1/2;


    }



    .tienda--2 {

        grid-column: 2/3;
        grid-row: 1/2;
    }




    .tienda--3 {


        grid-column: 3/4;
        grid-row: 1/2;
    }


    .tienda--4 {

        grid-column: 4/5;
        grid-row: 1/2;

    }



    .tienda--5 {

        grid-column: 1/2;
        grid-row: 2/3;

    }




    .tienda--6 {

        grid-column: 2/3;
        grid-row: 2/3;
    }




    .tienda--7 {


        grid-column: 3/4;
        grid-row: 2/3;
    }


    .tienda--8 {
        grid-column: 4/5;
        grid-row: 2/3;
    }


    .tienda--9 {

        grid-column: 1/2;
        grid-row: 3/4;

    }




    .tienda--10 {

        grid-column: 2/3;
        grid-row: 3/4;
    }




    .tienda--11 {

        grid-column: 3/4;
        grid-row: 3/4;
    }


    .tienda--12 {


        grid-column: 4/5;
        grid-row: 3/4;
    }

}

@media only screen and (min-width: 2560px) {

    .grid-tienda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 80px;
        margin-left: 300px;




    }


    .subTitulo {
        font-size: 75px;
        margin-left: 38%;

    }

    .tienda--1 {

        width: 300px;
        grid-column: 1/2;
        grid-row: 1/2;


    }



    .tienda--2 {
        width: 300px;
        grid-column: 2/3;
        grid-row: 1/2;
    }




    .tienda--3 {
        width: 300px;
        grid-column: 3/4;
        grid-row: 1/2;
    }


    .tienda--4 {
        width: 300px;
        grid-column: 4/5;
        grid-row: 1/2;

    }



    .tienda--5 {
        width: 300px;
        grid-column: 5/6;
        grid-row: 1/2;

    }




    .tienda--6 {

        grid-column: 1/2;
        grid-row: 2/3;
    }




    .tienda--7 {
        width: 300px;
        grid-column: 2/3;
        grid-row: 2/3;
    }


    .tienda--8 {
        width: 300px;
        grid-column: 3/4;
        grid-row: 2/3;
    }


    .tienda--9 {
        width: 300px;
        grid-column: 4/5;
        grid-row: 2/3;

    }




    .tienda--10 {
        width: 300px;
        grid-column: 5/6;
        grid-row: 2/3;
    }




    .tienda--11 {
        width: 300px;
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .tienda--12 {
        width: 300px;
        grid-column: 2/3;
        grid-row: 3/4;
    }

}


/*-----------------teriman Tienda----------------*/



/*-------------------------Empieza Registro-----------------------------*/

.tituR {
    a {
        font-size: 65px;
        text-decoration: none;
        color: beige;
        position: relative;
        left: 35rem;
    }
}

.irR {
    text-decoration: none;
    font-size: 26px;
    color: beige;
    height: 30px;
    display: flex;
    position: relative;
    top: 90px;
    left: 220px;
}

.irR:hover {
    color: red;
    transition: .8s;
}

:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

.bodyR {
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
    background-color: rgb(59, 55, 55);
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}

.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url(../imagenes/FondoRegistro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (min-width: 320px) {
    .tituR {
        a {
            font-size: 35px;
            left: 5rem;
            top: 8px;
        }

        a:hover {
            color: red;
            transition: .8s;
        }
    }

    .row {
        width: 99%;
        height: 100%;
        margin-left: 1px;
    }

    .irR {
        display: none;


    }

}

@media (min-width: 425px) {

    .tituR {
        a {
            font-size: 45px;
        }
    }
}

@media (min-width: 768px) {

    .tituR {
        a {

            left: 18rem;
        }
    }


}

@media (min-width: 1024px) {

    .tituR {
        a {
            font-size: 65px;
            left: 22rem;
        }
    }

    .irR {
        display: flex;
        left: 15px;

    }


}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}

@media (min-width: 1440px) {

    .tituR {
        a {
            font-size: 65px;
            left: 35rem;
        }
    }

    .irR {

        left: 220px;
    }

}


@media (min-width: 1800px) {

    .tituR {
        a {

            left: 47rem;
        }
    }

    .irR {

        left: 420px;
    }

}




/*---------------------------termina pag registro-------------------------*/


/**-----------------------------Empieza pag logeo---------------------------*/
.tituL {
    a {
        text-decoration: none;
        color: beige;
        margin-top: 8px;
    }
}



.irA {
    color: beige;
    text-decoration: none;
    position: relative;
    top: 90px
}

.irA:hover {
    color: red;
}

.bodyLo {
    background-image: url(../imagenes/fondoLogeo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #2d343f;
}

.bg {
    background-image: url(../imagenes/logeo2.png);
    background-position: center center;
    height: 500px;


}

@media only screen and (min-width: 320px) {

    .irA {
        display: none;

    }


    .tituL {
        position: relative;
        font-size: 30px;
        left: 5rem;
        height: 50px;
        margin-top: 10px;
        width: max-content;

        a:hover {
            color: red;
            transition: .8s;
        }
    }


}



@media only screen and (min-width: 375px) {


    .tituL {
        a {
            font-size: 35px;
            position: relative;
            left: 30px;
        }
    }
}

@media only screen and (min-width: 425px) {



    .tituL {
        a {
            font-size: 40px;
            position: relative;
            left: 50px;
        }
    }
}

@media only screen and (min-width: 768px) {

    .irA {
        display: flex;
        position: relative;
        font-size: 18px;
        left: 3rem;
        top: 4rem;
    }



    .tituL {
        a {
            font-size: 45px;
            left: 12rem;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .irA {
        font-size: 24px;
        left: 3rem;
        top: 6rem;
    }

    .tituL {
        a {
            font-size: 65px;
            left: 18rem;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .irA {
        left: 9rem;

    }

    .tituL {
        a {

            left: 24rem;
        }
    }
}




@media only screen and (min-width: 1440px) {

    .irA {

        left: 16rem;

    }


    .tituL {
        a {
            left: 30rem;
        }
    }
}

@media only screen and (min-width: 1800px) {

    .irA {

        left: 28rem;

    }


    .tituL {
        a {
            left: 42rem;
        }
    }
}


/*--------------------------------Termina logeo---------------------------------------*/


/*-----------------------------------------Empieza Nosotros------------------------------------------------*/

.titnos {
    color: rgb(209, 125, 0);
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    image-rendering: auto;
}

.colorNos {
    background-color: rgb(37, 35, 32);

}

.tex1 {

    text-align: center;
    margin-top: 25px;
    color: beige;

}

.tex2 {
    text-align: center;
    color: beige;
    margin-bottom: 25px;

}

.equip {
    img {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 400px;
        width: 400px;
        border-radius: 100px;
        
    }
}

@media (min-width:320px) {


    .equip {
        left: 0;

        img {
            width: 300px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .tex1 {
        font-size: 14px;
    }

    .tex2 {
        font-size: 14px;
    }

}

@media (min-width:360px) {

    .equip {
        img {
            width: 350px;
        }
    }

}

@media (min-width:425px) {

    .equip {
        img {
            width: 400px;
        }
    }

}


@media (min-width:768px) {

    .equip {
        img {
            width: 700px;
            margin-left: 30px;
        }
    }

}

@media (min-width:1024px) {

    .equip {
        img {
            width: 900px;
            margin-left: 50px;
        }
    }

}

@media (min-width:1440px) {

    .equip {
        img {

            margin-left: 250px;
        }
    }

}

@media (min-width:1800px) {

    .equip {
        img {

            margin-left: 450px;
        }
    }

}

@media (min-width:2560px) {

    .equip {
        img {
            width: 1200px;
            margin-left: 600px;
        }
    }

}

/*-------------------------------------termina nosotros------------------------------------------*/

/*-------------------------------------------Empieza Contactenos----------------------------------------------*/

.fondoCon {
    background-image: url(../imagenes/FondoConta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.cajacon {

    margin-top: 100px;


}



/*----------------------------------------------------Termina contactenos--------------------------------------------------------------*/


/*------------------------------------------------Empieza Manga---------------------------------------------*/
.contenedorManga {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 30px;


}

.titulo2 {
    color: beige;

}

.capitulo {
    color: rgb(93, 93, 97);
    font-size: 18px;
}

.descripcion2 {
    color: beige;
}

.colorFondo {
    background-color: rgb(66, 14, 14);
    height: 100%;
}

.subTitulo2 {

    text-align: center;
    width: 100%;
    position: absolute;
    top: 120px;
    font-size: 35px;
    padding-top: 15px;
    color: rgb(217, 221, 224);


}

.anime1 {

    width: 300px;
    border-radius: 15px;
    border-color: rgb(7, 2, 26);
    border-style: solid;
    background-color: rgb(62, 15, 105);
    font-size: 18px;
    text-align: center;
    margin: 55px;
    grid-column: 1/2;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }


}


.anime1 {
    .capitulo {
        font-size: 18px;
    }
}

.anime2 {

    @extend .anime1;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}


.anime3 {

    @extend .anime1;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }

}

.anime4 {

    @extend .anime1;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}

.anime5 {

    @extend .anime1;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}

.anime6 {
    @extend .anime1;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}


.titulo2 {
    color: rgb(50, 26, 184);
}



@mixin tamaño ($ancho, $letra, $fondocolor, $bodercolor) {

    width: $ancho;
    font-size: $letra;
    background-color: $fondocolor;
    border-color: $bodercolor;
}



.anime7 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));

    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin: 55px;
    grid-column: 2/3;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}

.anime8 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));

    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin: 55px;
    grid-column: 3/4;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}

.anime9 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));

    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin: 55px;
    grid-column: 4/5;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }

}


.anime10 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin: 55px;
    grid-column: 5/6;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }

}

.anime11 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin: 55px;
    grid-column: 1/2;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}

.anime12 {
    @include tamaño(300px, 18px, rgb(62, 15, 105), rgb(7, 2, 26));

    border-radius: 15px;
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    margin: 55px;
    grid-column: 2/3;

    img {
        height: 350px;
    }

    a {
        text-decoration: none;

        p {
            font-size: 25px;
            color: rgb(131, 7, 7);

        }
    }
}


@media only screen and (min-width:320px) {
    .contenedorManga {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 80%;
    }

    .titulo2 {
        color: beige;

    }

    .subTitulo2 {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 90px;
        font-size: 23px;
        padding: 15px;
        color: beige;

    }


    .anime1 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
            color: beige;
        }
    }


    .anime2 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
            color: beige;
        }
    }


    .anime3 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);
            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime4 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }


    .anime5 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime6 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;

        }
    }

    .anime7 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime8 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime9 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);
            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime10 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }

    }



    .anime11 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }

    .anime12 {

        width: 250px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 250px;
        }

        a {
            p {
                font-size: 18px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 12px;
        }
    }


}



@media only screen and (min-width:768px) {
    .contenedorManga {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 80%;
        margin: 80px;


    }

    .titulo2 {
        color: beige;

    }

    .subTitulo2 {
        font-size: 40px;

    }


    .anime1 {

        grid-column: 1/2;

    }


    .anime2 {

        grid-column: 2/3;
    }


    .anime3 {

        grid-column: 1/2;
    }


    .anime4 {

        grid-column: 2/3;

    }



    .anime5 {

        grid-column: 1/2;
    }


    .anime6 {

        grid-column: 2/3;
    }




    .anime7 {

        grid-column: 1/2;

    }


    .anime8 {

        grid-column: 2/3;
    }



    .anime9 {

        grid-column: 1/2;
    }




    .anime10 {

        grid-column: 2/3;

    }





    .anime11 {

        grid-column: 1/2;
    }


    .anime12 {

        grid-column: 2/3;

    }

}

@media only screen and (min-width: 1024px) {

    .subTitulo2 {

        margin-top: 80px;

    }


}

@media only screen and (min-width:1440px) {
    .contenedorManga {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 80%;
        margin: 200px;
    }


    .subTitulo2 {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 100px;
        font-size: 70px;
        padding: 15px;
        color: beige;

    }


    .anime1 {

        width: 300px;
        grid-column: 1/2;

        img {
            height: 300px;
        }

    }

    .anime2 {

        width: 300px;

        grid-column: 2/3;

        img {
            height: 300px;
        }
    }

    .anime3 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 300px;
        }
    }


    .anime4 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 300px;
        }

    }

    .anime5 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 300px;
        }
    }


    .anime6 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 300px;
        }
    }

    .anime7 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 300px;
        }
    }



    .anime8 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 300px;
        }
    }


    .anime9 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 300px;
        }
    }

    .anime10 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 300px;
        }

    }

    .anime11 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 300px;
        }
    }

    .anime12 {

        width: 300px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 300px;
        }
    }

}


@media only screen and (min-width:2560px) {
    .contenedorManga {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 80%;
        margin: 250px;


    }

    .capitulo {
        font-size: 28px;
    }

    .titulo2 {
        color: beige;
        font-size: 35px;

    }

    .subTitulo2 {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 120px;
        font-size: 70px;
        padding: 15px;
        color: beige;

    }


    .anime1 {

        width: 450px;
        border-radius: 30px;
        grid-column: 1/2;

        .capitulo {
            font-size: 28px;
        }

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 30px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
            color: beige;
        }
    }


    .anime2 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 30px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
            color: beige;
        }

    }

    .anime3 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }


    .anime4 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 4/5;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }

    .anime5 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }

    }

    .anime6 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;

        }
    }

    .anime7 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }



    .anime8 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 4/5;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }


    .anime9 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 1/2;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }

    .anime10 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 2/3;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }

    }


    .anime11 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 3/4;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }



    .anime12 {

        width: 450px;
        border-radius: 30px;
        font-size: 24px;
        grid-column: 4/5;

        img {
            height: 450px;
        }

        a {
            p {
                font-size: 28px;
                color: rgb(131, 7, 7);

            }
        }

        .descripcion2 {
            font-size: 18px;
        }
    }


}





/*--------------------------------------------------------Termina Manga-------------------------------------------*/